@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
.btn.btn-coral {
  border: 1px solid rgba(0,0,0,.1);
}
.btn.btn-coral {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(252 144 130/var(--tw-bg-opacity));
  color: rgb(255 255 255/var(--tw-text-opacity));
}
.btn.btn-coral-simple {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(252 144 130/var(--tw-bg-opacity));
  color: rgb(255 255 255/var(--tw-text-opacity));
}
.btn.btn-beige {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.btn.btn-beige {
  border: 1px solid rgba(0,0,0,.1);
}
.btn {
  border-radius: 16px;
  font-family: Favorit Pro,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 1.5;
  padding: 12px 1.25rem;
  transition-duration: .5s;
  transition-property: color,background-color,border-color,fill,stroke,-webkit-text-decoration-color;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.btn.btn-coral:hover {
  border: 1px solid #faf7f4;
}
.btn.btn-coral:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(22 73 81/var(--tw-bg-opacity));
}
/* section */
.section-contained {
  border-radius: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section {
  display: block;
}
.section-bot {
  padding-bottom: 2.5rem;
}
.section-top {
  margin-top: 2rem;
  padding-top: 2.5rem;
}
.contain-paint {
  contain: paint!important;
}

@media (min-width: 1280px) {
  .section-contained {
    margin-left: auto;
    margin-right: auto;
    max-width: 96%;
    width: 1480px;
  }
}

@media (min-width: 768px){
.section-top {
    padding-top: 5rem;
  }
}

.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6, h1, h2, h3, h4, h5, h6 {
  font-family: Gascogne Serial,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  letter-spacing: -.01em;
  line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;
}
@media (min-width: 64rem){
  .text-h2 {
      font-size: 3.125rem;
  }
}
@media (min-width: 30rem){
  .text-h2 {
      font-size: calc(.53676rem + 4.04412vw);
  }

}
.text-h2 {
  font-size: 3rem;
}
@media (min-width: 64rem){
  .t-20 {
    font-size: 1.25rem;
}
}

@media (min-width: 30rem){
  .t-20 {
    font-size: calc(.83824rem + .64338vw);
  }
}
@media (min-width: 64rem){
.text-h4 {
    font-size: 2rem;
  }
}
@media (min-width: 30rem){
.text-h4 {
    font-size: calc(.58824rem + 1.80588vw);
  }
}
@media (min-width: 64rem){
  .t-70 {
    font-size: 4.375rem;
}
}
/* @media (min-width: 30rem){
  .t-70 {
    font-size: calc(.79853rem + 5.58824vw);
}
}
.t-70 {
  font-size: 2.475rem;
} */


/* .text-h4 {
  font-size: 1.25rem;
} */
.t-20 {
  font-size: 1.5rem;
}
.t-19 {
  font-size: 1.5rem;
}

menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bg-taupe {
  --tw-bg-opacity: 1;
  background-color: rgb(250 247 244/var(--tw-bg-opacity));
}
.bg-darkTaupe {
  --tw-bg-opacity: 1;
  background-color: rgb(240 237 234/var(--tw-bg-opacity));
}
a {
  color: inherit;
  text-decoration: inherit;
}
html {
  --tw-bg-opacity: 1;
  background-color: rgb(250 247 244/var(--tw-bg-opacity));
  overflow-x: hidden;
}
body, html {
  --tw-text-opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(22 73 81/var(--tw-text-opacity));
  font-family: Favorit Pro,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.font-body {
  font-family: Favorit Pro,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}


@media (min-width: 1280px){
  .container {
      max-width: 1480px;
  }
  }

@media (min-width: 64rem) {
  .container, .container-padding, .header-container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 48rem){

  .container, .container-padding, .header-container {
      padding-left: 40px;
      padding-right: 40px;
  }
}


.container, .container-padding, .header-container {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  max-width: 1400px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto;
}
/* .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
} */
/* gatsby-image-wrapper */

.gatsby-image-wrapper [data-main-image] {
  opacity: 0;
  transform: translateZ(0);
  transition: opacity .25s linear;
  will-change: opacity;
}

.gatsby-image-wrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}

.border-b {
  border-bottom-width: 1px;
  border: 0 solid;
}


.border-fadedGrey {
  --tw-border-opacity: 1;
  border-color: rgb(225 222 220/var(--tw-border-opacity));
}
.marquee-container {
  --pause-on-hover: running;
  --pause-on-click: running;
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
}
.marquee {
  --play: running;
  --direction: normal;
  --duration: 77.40546875s;
  --delay: 0s;
  --iteration-count: infinite;
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marque1 {
 
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
    background-color: transparent;
    height: 580px;
    width: 100%;
}
.scroll-span span {
  width: 100%!important;
}

.marque2-1 {
  --pause-on-hover: running;
  --pause-on-click: running;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  animation: 20000ms linear 0s infinite normal none running m0slide-1;
  min-width: 100%;
}
.marque2-2 {
  --pause-on-hover: running;
  --pause-on-click: running;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  animation: 20000ms linear 0s infinite normal none running m0slide0;
  min-width: 100%;
}

.marque3 {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
  @keyframes m0slide-1 {
    0% {
      transform: translateY(-100%);
  }
  
  100% {
      transform: translateY(0%);
  }
  }


 @keyframes m0slide0 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
} 
/* 

@media (prefers-reduced-motion){
  animation: none;
} */


/* 
@media (min-width: 1024px){

  .container {
      max-width: 1024px;
      padding-left: 4rem;
      padding-right: 4rem;
  }
}

@media (min-width: 890px){

  .container {
      max-width: 890px;
  }
}
@media (min-width: 768px){

  .container {
      max-width: 768px;
  }
}

@media (min-width: 640px){

  .container {
      max-width: 640px;
      padding-left: 2rem;
      padding-right: 2rem;
  }
}
@media (min-width: 480px){

  .container {
      max-width: 480px;
  }
} */

